@import '../../commonStyles/variables.scss';
@import '../../commonStyles/mixins.scss';

.category {
  background: $white;
  border: 1px solid $border;
  border-radius: 5px;
  // padding: 30px 35px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.category__list::-webkit-scrollbar {
  width: 5px;
}

.category__list::-webkit-scrollbar-thumb {
  background-color: $text-dark;
  height: 10px;
  border-radius: 5px;
}

.category__heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $text-dark;
  margin-bottom: 12px;
  padding: 25px 0 0 0;
}

.category__option {
  display: none;
}

.category__label {
  color: $second-text;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  cursor: pointer;
  &:hover {
    color: $link;
  }
}

.category__option:checked + .category__label {
  color: $link;
}

.category__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px 20px 30px;
  overflow-y: auto;
}
